/* SKAL TILFØJES TIL FÆLLES EVENTUALLY */

/* Headeren er dokumenteret i fælles.css*/

.filtermenu nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.filtermenu h2 {
  text-align: center;
}

.filtermenu p {
  text-align: center;
  padding: 1rem;
}

.filtermenu {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Grid til alle is-elementer i containeren */

/* flex på grid items + justify og align - centrerer billede i grid cellen*/
.is_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  min-height: 400px;
}

.is_article img {
  width: 6rem;
}

.is_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  /* Brug det her til responsive margins */

  max-width: 70vw;
  margin: 0 auto;
}

#modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #00000055;
  padding-top: 4rem;
}

#modal article {
  max-width: 40rem;
  max-height: 40rem;
  margin: auto;
  background-color: white;
  border: 10px solid #f7f5f5;
  padding: 2rem;
}

.logo_container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.modal_logo {
  max-width: 20rem;
}

.modal_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.is_flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal_is {
  max-width: 8rem;
}

.modal_note {
  font-style: italic;
}
