* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}

@media (min-width: 700px) {
  #element1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 35px;
  }

  #element2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 35px;
  }
}

p {
  line-height: 1.6;
}
