@media (min-width: 700px) {
  #section1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 35px;
    gap: 15px;
  }
}

/* Ipad version - virker ikke? */
@media (min-width: 1000px) {
  main img {
    width: 75%;
    height: 35vh;
  }
}

main img {
  border-radius: 50%;
  width: 65%;
  height: 25vh;
}

main .image1 {
  display: flex;
  justify-content: center;
}

main .image2 {
  display: flex;
  justify-content: center;
}

main .image3 {
  display: flex;
  justify-content: center;
}

main h1 {
  text-align: center;
  margin-bottom: 6rem;
}

main h3 {
  text-align: center;
  margin-bottom: 2rem;
}

main p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
